<!DOCTYPE html>
<html>
    <head>
        <title>ResolutionKeeper</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Bootstrap links-->
        <link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/keeper.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
            crossorigin="anonymous">
        </script>
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
            crossorigin="anonymous">
        </script>
        <script 
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
            crossorigin="anonymous">
        </script>
        <!--Font awesome scripts-->
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" 
            integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" 
            crossorigin="anonymous">
        </script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" 
            integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" 
            crossorigin="anonymous">
        </script>
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
        <script src="/scripts/textarea.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    </head>
    <body>
      
        <nav class="navbar fixed-top navbar-expand-lg bg-info navbar-dark">
          <a class="navbar-brand" href="/home">
            <img id="brand" class="rounded" src="/img/brand.png" height="50" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/journals">Journals<span class="sr-only"></span></a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <% if(!currentUser) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Register</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-user"></i> Signed in as <strong><%= currentUser.username %></strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
              <% } %>
            </ul>
          </div>
        </nav>
        <% if(error && error.length > 0) { %>
          <div class="container">
            <div class="alert alert-danger" role="alert"><%= error %></div>
          </div>
        <% } %>
        <% if(success && success.length > 0) { %>
          <div class="container">
            <div class="alert alert-success" role="alert"><%= success %></div>
          </div>
        <% } %>