<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="display-4">Create new journal</h1>
                    <p class="lead">Start recording your progress</p>
                    <hr class="my-4">
                    <p>
                        Journal is not only a blog-like feature to record your progress. It can be linked to your personal claendar, statistics etc. You can share it with selected few or make it public.
                    </p>
                    <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/journals/new" role="button">Create</a>
                    </p>
                </div>
        </div>
    </div>
    <div class="row">
        <% userJournals.forEach(function(journal) { %>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <%= journal.created %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= journal.title %></h5>
                        <p class="card-text"><%= journal.description %></p>
                        <a href="/journals/<%= journal.id %>" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>