<% include ./partials/header %>

<div class="container">
    <h1>Please choose username and password</h1>

    <form action="/register" method="POST" class="user">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="Username" placeholder="Username" 
            name="username" minlength="6" required aria-describedby="usernameHelpBlock">
          <small id="usernameHelpBlock" class="form-text text-muted">
            Username must be at least 6 characters long.
          </small>

        </div>
        <div class="form-group col-md-6">
          <label for="email">Email address:</label>
          <input type="text" class="form-control" id="email" placeholder="john.doe@gmail.com" 
            name="email" optional aria-describedby="emailHelpBlock">
          <small id="emailHelpBlock" class="form-text text-muted">
            Optional, but recommended for username/password recovery.
          </small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Password" 
            name="password" minlength="6" required aria-describedby="passwordHelpBlock">
          <small id="passwordHelpBlock" class="form-text text-muted">
            Password must be at least 6 characters long.
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="password">Confirm password:</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" 
            name="confirmPassword" minlength="6" required>
        </div>
      </div>
      <button type="submit" class="btn btn-info">Register</button>
    </form>
</div>

<% include ./partials/footer %>